.navigation {
  display: flex;
  gap: 20px;
}

nav {
  padding: 28px;
}

.links {
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}
